{% load template_auth %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include 'cdn.html' %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if request.user.id %}
      <a class="navbar-brand" href="">{{ request.user }}</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'today' %}">Today</a>
          </li>
          {% if 'trainers'|has_group:request.user.id %}
                <li class="nav-item active">
                    <a href="{% url 'trainee' %}" class="nav-link">Trainee Details</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'notifications' request.user.id %}">Notifications</a>
                </li>
            {% endif %}
        </ul>
        <span class="navbar-text" >{{ request.user }}</span>
        <span class="navbar-text form-check-inline">
            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
        </span>
      </div>
  {% else %}
  <center><h3>Login here</h3></center>
  {% endif %}

</nav>
<br>

{% block body %}

{% endblock %}
</body>
</html>