<form method="post">
    {% csrf_token %}
    current Project:
    <input type="text" name="current_project" value="{{ routine.current_project }}"><br>
    billable task:
    <input type="text" name="billable_task" value="{{ routine.billable_task }}"><br>
    Break Time:
    <input type="text" name="break_time" value="{{ routine.break_time }}"><br>
    Task Owner:
    <select name="task_owner">
        <option value="me">Me</option>
        {% for trainer in trainers %}
            <option value="{{ trainer.username }}">{{ trainer.username }}</option>
        {% endfor %}
    </select>
    <br>

    <input type="submit" value="edit">

</form>

