{% extends 'base.html' %}
{% block title %}
Edit Routine
{% endblock %}
{% block body %}
   <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4   text-white">
                <form method="post">
                    {% csrf_token %}
                    Current Project:
                    <input type="text" class="form-control" name="current_project" value="{{ routine.current_project }}"><br>
                    Billable Task:
                    <textarea name="billable_task" class="form-control" >{{ routine.billable_task }}</textarea>
                   <br>
                    Break Time:
                    <textarea name="break_time" class="form-control" >{{ routine.break_time }}</textarea><br>
                    Task Owner:
                    <label class="form-label">
                        <select name="task_owner" class="form-control">
                            <option value="me">Me</option>
                            {% for trainer in trainers %}
                                <option value="{{ trainer.username }}">{{ trainer.username }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <br>
                <center>

                    <input type="submit" class="btn btn-outline-info form-control" value="Edit">
                </center>

                </form>

            </div>
        </div>
   </div>
{% endblock %}



