{% extends 'base.html' %}
{% load template_auth %}
{% block title %}
Notifications
{% endblock %}

{% block page_name %}
Notifications
{% endblock %}

{% block body %}
<style>
p{
    font-family: sans-serif;
    font-size: 16px;
}
</style>


{% if 'trainers'|has_group:request.user.id %}
    {% if routines %}
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        {% for routine in routines %}
                            <div class="col-xl-4 col-lg-6  col-md-12 col-sm-12">
                                    <div class="card">
                                        <div class="card-block">
                                            <h5 class="text-center m-b-0">{{ routine.user.username }}<br>{{ routine.today_date }}</h5>
                                            <p class="m-t-15 m-b-15">Current Project: {{ routine.current_project}}</p>
                                            <p class="m-t-15 m-b-15">Check-In: {{ routine.check_in_times}}</p>
                                            <p class="m-t-15 m-b-15">Check-Out: {{ routine.check_out_time }}</p>
                                            <p class="m-t-15 m-b-15">Billable-Task: {{ routine.billable_task }}</p>
                                            <p class="m-t-15 m-b-15">Break: {{ routine.break_time }}</p>
                                            <p class="m-t-15 m-b-15">Task-Owner: {{ routine.task_owner }}</p>
                                            {% if routine.approved_by == 'Pending' %}
                                                <p class="text-c-red text-center ">Approved-By: {{ routine.approved_by }}</p>
                                                {% else %}
                                                <p class=" text-center text-c-green">Approved-By: {{ routine.approved_by }}</p>
                                            {% endif %}
                                            <center>
                                            {% if routine.approved_by == 'Pending'%}
                                                <form method="post" class="form-inline" action="{% url 'notifications' routine.id %}">
                                                    {% csrf_token %}
                                                    <select name="approval" class="form-control">
                                                        <option value="Pending">Pending</option>
                                                        <option value="approved">Approved</option>
                                                    </select>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <input type="submit" class="btn btn-outline-danger" value="Confirm">
                                                </form>
                                            {% else %}
                                                <p class="text-center text-c-green">Approved</p>
                                            {% endif %}
                                            </center>
                                        </div>
                                    </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="styleSelector"> </div>
        </div>
    {% else %}
        <h2 class="text-white">Details Not Updated!!</h2>
    {% endif %}




    {% if routiness %}
        <table class="table text-white text-center" id="table1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>check in time</th>
                <th>check out time</th>
                <th>Current project</th>
                <th>Billiable Task</th>
                <th>Break Timing</th>
                <th>Task Owner</th>
                <th>Approved By</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for routine in routines %}
                <tr>
                    <td><b>
                        {{ routine.user_id.username }}</b></td>
                    <td>{{ routine.today_date }}</td>
                    <td>{{ routine.check_in_times }}</td>
                    <td>{{ routine.check_out_time }}</td>
                    <td>{{ routine.current_project }}</td>
                    <td>{{ routine.billable_task }}</td>
                    <td>{{ routine.break_time }}</td>
                    <td>{{ routine.task_owner }}</td>
                    <td>{{ routine.approved_by }}</td>
                    <td>
                        {% if routine.approved_by == 'Pending'%}
                            <form method="post" class="form-inline" action="{% url 'notifications' routine.id %}">
                                {% csrf_token %}
                                <select name="approval" class="form-control">
                                    <option value="Pending">Pending</option>
                                    <option value="approved">Approved</option>
                                </select>
                                &nbsp;&nbsp;&nbsp;
                                <input type="submit" class="btn btn-outline-danger" value="Confirm">
                            </form>
                        {% else %}
                            Approved
                        {% endif %} 
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 class="text-white">No Notifications</h2>
    {% endif %}

{% else %}
    <h1>You are not Trainer</h1>
{% endif %}
  <script>
    $(document).ready(function () {
      $('#table1').DataTable();
    });
  </script>
{% endblock %}
