{% extends 'base.html' %}
{% load template_auth %}
{% block title %}
Notifications
{% endblock %}
{% block body %}
{% if 'trainers'|has_group:request.user.id %}
    {% if routines %}
        <table class="table text-white text-center" id="table1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>check in time</th>
                <th>check out time</th>
                <th>Current project</th>
                <th>Billiable Task</th>
                <th>Break Timing</th>
                <th>Task Owner</th>
                <th>Approved By</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for routine in routines %}
                <tr>
                    <td><b>
                        {{ routine.user_id.username }}</b></td>
                    <td>{{ routine.today_date }}</td>
                    <td>{{ routine.check_in_times }}</td>
                    <td>{{ routine.check_out_time }}</td>
                    <td>{{ routine.current_project }}</td>
                    <td>{{ routine.billable_task }}</td>
                    <td>{{ routine.break_time }}</td>
                    <td>{{ routine.task_owner }}</td>
                    <td>{{ routine.approved_by }}</td>
                    <td>
                        {% if routine.approved_by == 'Pending'%}
                            <form method="post" class="form-inline" action="{% url 'notifications' routine.id %}">
                                {% csrf_token %}
                                <select name="approval" class="form-control">
                                    <option value="Pending">Pending</option>
                                    <option value="approved">Approved</option>
                                </select>
                                &nbsp;&nbsp;&nbsp;
                                <input type="submit" class="btn btn-outline-danger" value="Confirm">
                            </form>
                        {% else %}
                            Approved
                        {% endif %} 
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 class="text-white">No Notifications</h2>
    {% endif %}

{% else %}
    <h1>You are not Trainer</h1>
{% endif %}
  <script>
    $(document).ready(function () {
      $('#table1').DataTable();
    });
  </script>
{% endblock %}



white_tick
eyes
raised_hands





15:03
<table class="table table-bordered table-responsive text-center bg-light" id="table1">
        <thead>
          <tr>
            <th>Sr.No.</th>
            <th>Technology</th>
            <th>Task Detail</th>
          </tr>
        </thead>
        <tbody>
          {% for i in user_task %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.technology}}</td>
            <td>{{i.task}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>