
<h1>{{ check }}</h1>

<form method="post">
    {% csrf_token %}
    {% if check == 0 %}
        <input type="text" disabled value="{{ todays_date }}">
        <input type="text" id="longitude" name="longitude">
        <input type="text" id="latitude" name="latitude">
        <p class="btn btn-success" id="loc" onclick="getLocation()">Get location and wait for 5 second</p>
        <input type="submit" id="checkbtn" style="display: none" value="check-in">
    {% elif check == 1 %}
        <input type="text" disabled value="{{ todays_date }}">
        <input type="text" id="longitude" name="longitude">
        <input type="text" id="latitude" name="latitude">
        <p class="btn btn-success" id="loc" onclick="getLocation()">Get location and wait for 5 second</p>
        <input type="submit" id="checkbtn" style="display: none" value="check-out">
    {% else %}
        <h3>Your check in check out done</h3>
    {% endif %}
</form>

<script>
var longitude = document.getElementById("longitude");
var latitude = document.getElementById("latitude");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    longitude = 0;
    latitude = 0;
  }
}

function showPosition(position) {
    latitude.value = position.coords.latitude;
    longitude.value = position.coords.longitude;
    myFunction();
 }
 function myFunction() {
  var loc = document.getElementById("loc");
  var chec = document.getElementById("checkbtn");
  ifelsedisply(loc);
  ifelsedisply(chec);
  function ifelsedisply(x){
        if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
  }

}
</script>