{% extends 'base.html' %}
{% block title %}
Trainee
{% endblock %}
{% block body %}
    {% if trainees %}
        <table class="table text-white table-hover">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Details</td>
                </tr>
            </thead>
            <tbody>
                {% for trainee in trainees %}
                    <tr>
                        <td>{{ trainee.username }}</td>
                        <td>{{ trainee.first_name }}</td>
                        <td>{{ trainee.last_name }}</td>
                        <td>{{ trainee.email }}</td>
                        <td><a href="{% url 'trainee_details' trainee.id %}">Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 class="text-white"> No Trainees</h2>
    {% endif %}
{% endblock %}
